    <!-- ===== START: Certificate Section ===== -->
    <section class="learnsimply-certificate-section">
        <div class="learnsimply-section-container">
            <div class="learnsimply-certificate-content-wrapper">
                <div class="learnsimply-certificate-text-column">
                    <h2 class="learnsimply-certificate-title">احصل على شهادة بعد كل كورس</h2>
                    <p class="learnsimply-certificate-description">
                        أنهِي المحتوى، طبّق عمليًا، وخُد شهادة تثبت مستواك وتساعدك في بداية طريقك البرمجي.
                    </p>

                    <button class="learnsimply-certificate-cta-button">ابدأ الكورس واحصل على شهادتك الآن</button>

                    <div class="learnsimply-certificate-features">
                        <div class="learnsimply-certificate-feature-item">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="#4077F3"/>
                            </svg>
                            <span class="learnsimply-feature-text">شهادة بعد إنهاء الكورس كاملًا</span>
                        </div>
                        <div class="learnsimply-certificate-feature-item">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="#4077F3"/>
                            </svg>
                            <span class="learnsimply-feature-text">مبنية على محتوى تطبيقي حقيقي</span>
                        </div>
                        <div class="learnsimply-certificate-feature-item">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="#4077F3"/>
                            </svg>
                            <span class="learnsimply-feature-text">تعكس مهاراتك مش مجرد حضور</span>
                        </div>
                        <div class="learnsimply-certificate-feature-item">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="#4077F3"/>
                            </svg>
                            <span class="learnsimply-feature-text">مناسبة للمبتدئين وطلاب الجامعات</span>
                        </div>
                    </div>
                </div>

           

                  <div class="learnsimply-certificate-preview">
                        <!-- Group Container -->
                        <div class="learnsimply-cert-image-wrapper">
                          <img class="learnsimply-cert-image" src="{{ theme_uri }}/assets/img/image.png" alt="شهادة معتمدة">
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <!-- ===== END: Certificate Section ===== -->